<!doctype html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% if title is defined %}
                {{ title }}
            {% else %}
                Nauč se Python
            {% endif %}
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/nausce.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/body.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/pygments-lovelace-style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/ipython.css')}}">
        {% if var('book-style') %}
            <link rel="stylesheet" href="{{url_for('static', filename='css/book-style.css')}}">
        {% endif %}

        {% block extra_links %}
        {% endblock extra_links%}

        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>
    
    <body>
        {% if not var('book-style') %}
        <nav class="header">
            <ul class="container menu">
                <li><a href="{{ url_for('index') }}" class="logo"><h1>Nauč se Python!</h1></a></li>
                <li><a href="{{ url_for('courses') }}" class="menu-link"><h2>Materiály</h2></a></li>
                <li><a href="{{ url_for('runs') }}" class="menu-link"><h2>Kurzy</h2></a></li>
            </ul>
        </nav>
        {% endif %}

        {% if page_wip is defined and page_wip %}
            <div class="content">
                <div class="alert alert-danger" role="alert">
                    Tato stránka je momentálně v rekonstrukci.
                    Pokud se chcete podílet na vylepšování těchto stránek,
                    navštivte repozitář na
                    <a href="https://github.com/pyvec/naucse.python.cz">GitHubu</a>.
                </div>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename='js/solutions.js') }}"></script>

        {% if not var('book-style') %}
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Kontakt</h2>
                        <p>
                            E-mail: <a href="mailto:info@pyvec.org">info@pyvec.org</a><br>
                            GitHub: <a href="http://github.com/pyvec">github.com/pyvec</a><br>
                            Twitter: <a href="http://twitter.com/pyvec">@pyvec</a><br>
                            Youtube: <a href="http://www.youtube.com/pyvec">www.youtube.com/pyvec</a>
                        </p>
                    </div>
                    <div class="col">
                        <h2>Zapoj se</h2>
                        <p>
                            Tyto stránky na <a href="https://github.com/pyvec/naucse.python.cz">GitHubu</a>
                            <br>
                            Organizuj <a href="http://pyladies.cz/stan_se/">PyLadies</a>
                        </p>
                    </div>
                    <div class="col">
                        <h2>Licence</h2>
                        <p>
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    </body>
</html>
