{% from "_bytesize_icons.html" import bytesize_icon %}
<!doctype html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            
                {% block title %}Nauč se Python{% endblock title %}
            
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

        {% block extra_header_items -%}
        {% endblock %}

        <link rel="stylesheet" href="{{url_for('static', filename='css/naucse.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/body.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/pygments-lovelace-style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/ipython.css')}}">

        {% block extra_links %}
        {% endblock extra_links%}

        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>

    <body>
        <nav class="header">
            <ul class="container menu">
                <li><a href="{{ url_for('index') }}" class="logo"><h1>Nauč se Python!</h1></a></li>
                <li><a href="{{ url_for('courses') }}" class="menu-link"><h2>Materiály</h2></a></li>
                <li><a href="{{ url_for('runs') }}" class="menu-link"><h2>Kurzy</h2></a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <script type="text/javascript" src="{{ url_for('static', filename='js/solutions.js') }}"></script>

        <div class="footer container">
            <hr>
            <div class="lesson-attribution">
                {% if edit_info is defined and edit_info and edit_info.page_name %}
                    <p>
                        Uprav tuto stránku na
                        <a href="{{ edit_info.url }}">
                            {% if edit_info.icon  %}
                                {{ bytesize_icon(edit_info.icon) }}
                            {% endif %}
                          {{ edit_info.page_name }}
                        </a>
                    </p>
                {% endif %}

                {% block attributions %}{% endblock %}
                {% block license %}
                    <p>
                        Licence: <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> není-li uvedeno jinak
                    </p>
                {% endblock license %}
                {% block extra_footer %}{% endblock %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        {% block extra_javascript %}
        {%- endblock %}

    </body>
</html>
