{% extends "_base.html" %}
{% import "_navigation_macros.html" as nav %}

{% block content %}

<div class="page">
    <div class="container">

        {% if course is defined
            and (is_canonical_lesson is not defined or not is_canonical_lesson)
        %}
            <header class="lesson-header">
                <a href="{{ url_for('index') }}">Nauč se Python </a>
                {% if course.vars.get('coach-present') %}
                > <a href="{{ url_for('runs') }}">Kurzy</a>
                {% else %}
                > <a href="{{ url_for('courses') }}">Materiály</a>
                {% endif%}
                {% block breadcrumbs %}{% endblock %}
                <hr>
            </header>
        {% endif %}

        {% block warning_msg %}
        {% endblock %}

        <div class="lesson-content">
          {% block course_content %}
          {% endblock %}
        </div>

        {% block lesson_end %}{% endblock %}
        {%- block prev_next %}{{'\n'}}{% endblock %}
    </div>
</div>

{% endblock content %}
