{% extends "_base.html" %}

{% block content %}

{% macro session_heading(session, index, plan) %}
    {% if plan|length > 1 %}
        Lekce {{ index }} -
    {% endif %}
    {{ session.title }}
    {% if session.date %}
        ({{ session.date }})
    {% endif %}
{% endmacro %}

<div class="page">
    <section class="container">

    {% block headline %}
    {% endblock headline %}

        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for session in plan.values() %}
                <div class="section{{ loop.index }}">
                    <h4>
                        {% if course.place is defined and course.place != None %}
                            <a href="{{ session_url(course.slug, session.slug) }}">
                            {{ session_heading(session, loop.index, plan) }}
                            </a>
                        {% else %}
                            {{ session_heading(session, loop.index, plan) }}
                        {% endif %}
                    </h4>
                    {% for mat in session.materials %}
                        <div>
                            {% if mat.type == "page" %}
                                <a href="{{ lesson_url(lesson=mat.page.lesson, page=mat.page.slug) }}">{{ mat.title }}</a>
                            {% else %}
                                <a href="{{ mat.url }}">{{ mat.title }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

{% endblock content %}
