{% extends "templates/_base.html" %}

{% block content %}

    {% block headline %}
    {% endblock headline %}

    <section class="container">
        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for session in plan.values() %}
                <div id="section{{ loop.index }}">
                    <h4>
                        {% if session.date %}
                            Lekce {{ loop.index }} - {{ session.title }} ({{ session.date }})
                        {% else %}
                            Lekce {{ loop.index }} - {{ session.title }}
                        {% endif %}
                     </h4>
                    {% for mat in session.materials %}
                        <div>
                            <span class="glyphicon-pencil"></span>
                        {% if mat.lesson %}
                            <a href="{{ lesson_url(mat.lesson) }}">{{ mat.title }}</a>
                        {% else %}
                            <a href={{ mat.url }}>{{ mat.title }}</a>
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}
