{% from "_bytesize_icons.html" import bytesize_icon %}

{%- macro icon_for_material(material) -%}
    {%- if material.type == 'page' -%}
        {{- bytesize_icon('chevron-right') -}}
    {%- elif material.url_type == 'cheatsheet' -%}
        {{- bytesize_icon('eye') -}}
    {%- elif material.url_type == 'homework' -%}
        {{- bytesize_icon('edit') -}}
    {%- else %}
        {{- bytesize_icon('link') -}}
    {%- endif -%}
{%- endmacro -%}

{%- macro material_li(material) %}
    <li>
        {% if material.type == "page" %}
            {% set url=lesson_url(lesson=material.page.lesson, page=material.page.slug) %}
        {% else %}
            {% set url=material.url %}
        {% endif %}
        <a href="{{ url }}">
            {{- icon_for_material(material) -}}
            {{- material.title -}}
        </a>
    </li>
{%- endmacro -%}
