{% macro prevnext() %}
    <div class="row prev-next">
        {{ caller() }}
    </div>
{% endmacro %}

{% macro prev(url, title) %}
    <div class="col text-left">
        <a href="{{ url }}">← <span class="d-none d-sm-inline">{{ title }}</span></a>
    </div>
{% endmacro %}

{% macro up(url, title) %}
    <div class="col text-left">
        <a href="{{ url }}">↑ <span class="d-none d-sm-inline">{{ title }}</span></a>
    </div>
{% endmacro %}

{% macro next(url, title) %}
    <div class="col text-right">
        <a href="{{ url }}"><span class="d-none d-sm-inline">{{ title }}</span> →</a>
    </div>
{% endmacro %}
