<div class="alert alert-danger">

  <h2>Chyba při vykreslení obsahu</h2>
  <p>
    Při vykreslování tohoto obsahu, který pochází z jiného repozitáře, se vyskytla chyba.
    Jelikož ten obsah pouze upravoval obsah ze základního repozitáře, zobrazujeme zde původní verzi.
    Níže jsou informace o repozitáři ze kterého měl být obsah vykreslen. Jestli chceš pomoci, můžeš například
    napsat správci daného repozitáře nebo v něm vytvořit ticket.
    Všechny podrobnosti, proč se nepovedlo stránku vykreslit, by měly být na
    <a href="https://travis-ci.org/{{ root_slug }}{% if travis_build_id|default(none) is not none %}/builds/{{ travis_build_id }}{% endif %}"
       target="_blank">Travisu</a>.
  </p>

  <h3>Informace o forku:</h3>
  <ul>
    <li>Adresa na repozitář gitu: <a href="{{ course.repo }}" target="_blank">{{ course.repo }}</a></li>
    <li>Větev: {{ course.branch }}</li>
  </ul>
</div>