{% extends 'templates/_base.html' %}

{% block title %}Nauč se Python{% endblock %}

{% block content %}

{% filter markdown %}

## Co to je?

Stránka naucse.python.cz je pro všechny, kteří se chtějí naučit programovat v jazyce Python, chtějí učit v jazyce Python a nebo klidně obojí zároveň. Najdete zde kurzy, studijní materiály, návody, taháky, prostě všechno, co by se vám mohlo hodit na vaší dobrodružné cestě poznávání tohoto programovacího jazyka.
Obsah stránky spravuje česká pythoní komunita. Podílet se na jejím vylepšování může každý.

## Co sem patří?

Veškerý obsah portálu naucse.python.cz a obsah z něj odkazovaný musí splňovat tyto požadavky:

* Obsah by musí být pod **svobodnou licencí**, která spadá podle Creative Commons do kategorie "Approved for Free Cultural Works" tj. CC BY, BY-SA nebo CC0. Kód musí být pod ["OSI approved licencí"](https://opensource.org/licenses).
* Obsah se musí zabývat **open-source softwarem** (pod OSI approved licencí). Z tohoto pravidla existují výjimky:
	* Populární alternativy k otevřenému softwaru (např. Windows či Mac OS) jsou přípustné jako alternativy – t.j. verze s otevřeným softwarem musí být uvedena také, aspoň v takové kvalitě jako ta s neotevřeným.
	* Další výjimky mohou být uděleny maintainery projektu nausce, ovšem práce na materiálech by neměla být placená společností, která na tom profituje.
* Obsah se musí zabývat Pythonem nebo souvisejícími neutrálmi technologiemi (jako například Git, HTML, CSS, Postgres, příkazová řádka), ve sporných případech rozhoduje maintainer portálu.
* Materiály musí být kvalitní, schválené zkušeným lektorem.

Obsah, který se nachází přímo na portálu musí navíc splňovat následující podmínky:

* Materiály musí být v českém jazyce.
* Jsou-li k pochopení potřeba předchozí znalosti, měly by být jasně uvedeny (nejlépe s odkazem, kde se to dá naučit).
* Mělo by být jasné, co z obsahu návštěvník získá, k jakému cíli ho to posune.
* Materiály by měly na sebe navzájem co nejvíc navazovat.
* Materiály by měly být použitelné a pochopitelné samy o sobě, bez potřeby dalšího vysvětlení. Tz. psány celými větami, s vysvětlením všech nezbytných kroků (případně odkázáním na jejich vysvětlení.
* Zařazením na naucse autoři souhlasí s tím, že se na obsahu bude dál pracovat jako se součástí většího celku. Jinými slovy, naucse se nehodí na archivaci materiálů.

{% endfilter %}

{% endblock %}
