{% extends '_course_list.html' %}

{% block title %}Seznam online kurzů Pythonu{% endblock title %}

{% block intro %}

    <p>Zde se nachází seznam materiálů dostupných pro samouky. Materiály pro kurzy, které probíhají s instruktorem, se nachází <a href="{{ url_for('runs') }}">v seznamu kurzů</a>.</p>

{% endblock %}


{% block list %}

    {% for course in featured_courses %}
        <div class="section{{ loop.index }}">
            <h4><a href="{{ course.get_url() }}">{{ course.title }}</a></h4>
            <p>{{ course.description }}</p>
        </div>
    {% endfor %}

{% endblock %}
