{% extends 'templates/_base.html' %}

{% block content %}

    {% block headline %}
    {% endblock headline %}

    <section class="container">
        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for lesson in plan %}
                <div id="section{{ loop.index }}">
                    <h4>
                        {% if 'date' in lesson %}
                            Lekce {{ loop.index }} - {{ lesson['name'] }} ({{ lesson['date'] }})
                        {% else %}
                            Lekce {{ loop.index }} - {{ lesson['name'] }} 
                        {% endif %}
                     </h4>
                    {% for mat in lesson['materials'] %}
                        <div>
                            <span class="glyphicon-pencil"></span>
                        {% if mat['link'].split('/')[0] == "lessons" %}
                            <a href="{{ lesson_url(mat['link'].split('/')[1], mat['link'].split('/')[2]) }}">{{ mat['name'] }}</a>
                        {% else %}
                            <a href={{ mat['link'] }}>{{ mat['name'] }}</a> 
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}
