{% extends "_base.html" %}

{% macro session_heading(session, index, plan) %}
    {% if plan|length > 1 %}
        Lekce {{ index }} -
    {% endif %}
    {{ session.title }}
    {% if session.date %}
        ({{ session.date | format_date }})
    {% endif %}
{% endmacro %}

{% block content %}

<div class="page">
    <section class="container">

        <header class="lesson-header">
            <a href="{{ url_for('index') }}">Nauč se Python </a>

            {% if course.vars['coach-present'] %}
            > <a href="{{ url_for('runs') }}">Kurzy</a>
            {% else %}
            > <a href="{{ url_for('courses') }}">Materiály</a>
            {% endif%}

            > {{ course.title }}
            <hr>
        </header>

        <div class="row">
            <div class="col-lg-8">
                <h1>{{ course.title }}</h1>

                {% if course.subtitle is defined and course.subtitle != None %}
                    <h2>{{ course.subtitle }}</h2>
                {% endif%}

                {{ course.long_description | markdown }}

                {% for session in plan.values() %}
                <div class="section{{ loop.index }}">
                    <h4>
                        <a href="{{ session_url(course.slug, session.slug) }}">
                        {{ session_heading(session, loop.index, plan) }}
                        </a>
                    </h4>
                    {% for mat in session.materials %}
                        <div>
                            {% if mat.type == "page" %}
                                <a href="{{ lesson_url(lesson=mat.page.lesson, page=mat.page.slug) }}">{{ mat.title }}</a>
                            {% else %}
                                <a href="{{ mat.url }}">{{ mat.title }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
            <div class="col-lg-4">
                {% if course.start_date %}
                    <div class="card course-card text-center">
                        <div class="card-header">
                            Toto jsou podklady pro kurz s instruktorem
                        </div>
                        <div class="card-body">
                            <div class="calendar-dates">
                                {{ (course.start_date, course.end_date) | format_date_range }}
                            </div>
                        </div>
                        <div class="card-footer small text-left">
                            <ul class="list-unstyled" style="margin-bottom:0;">
                                <li>
                                    <a href="{{ url_for('course_calendar', course=course) }}">→ Kalendář</a>
                                </li>
                                {% if course.base_course %}
                                <li>
                                    <a href="{{ course_url(course.base_course) }}">→ Ekvivalentní kurz pro samouky</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="card course-card">
                        <div class="card-header text-center">
                            Toto jsou materiály pro samouky
                        </div>
                        <div class="card-body">
                            <p>
                                Doufáme, že naše materiály jsou srozumitelné a přínosné.
                                Pokud ne, ozvěte se prosím:
                            </p>
                            <ul>
                                <li>
                                    na <a href="https://www.facebook.com/groups/pyonieri/">Facebooku</a>,
                                </li>
                                <li>
                                    založením <a href="https://github.com/pyvec/naucse.python.cz/issues/new"><i>issue</i> na Githubu</a>,
                                </li>
                                <li>
                                    osobně na <a href="https://pyvo.cz/">srazu</a>, nebo
                                </li>
                                <li>
                                    <a href="mailto:django-cs@googlegroups.com">mailem</a> do
                                    <a href="https://groups.google.com/forum/#!forum/django-cs">diskusní skupiny</a>.
                                </li>
                            </ul>
                            <p>
                                Případné nejasnosti rádi vysvětlíme,
                                ale musíme o nich vědět!
                            </p>
                        </div>
                        {% if recent_runs %}
                            <div class="card-footer recent-runs">
                                Na těchto materiálech jshou založeny
                                i kurzy s instruktorem:
                                <ul class="list-unstyled">
                                {% for run in recent_runs %}
                                    <li>
                                        <a href="{{ url_for('course', course=run) }}">
                                            {{ run.title }}
                                            {% if run.subtitle %}
                                                – {{ run.subtitle }}
                                            {% endif %}
                                        </a>
                                        <div>
                                            {{ (run.start_date, run.end_date) | format_date_range }}
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

    </section>
</div>

{% endblock content %}
