{% extends '_lessons_list.html' %}

{% block headline %}

    <header class="lesson-header">
        <a href="{{ url_for('index') }}">Nauč se Python </a>

        {% if course.vars['coach-present'] %}
        > <a href="{{ url_for('runs') }}">Kurzy</a>
        {% else %}
        > <a href="{{ url_for('courses') }}">Materiály</a>
        {% endif%}

        > {{ course.title }}
        <hr>
        
        {% if not course.canonical %}
            <div class="alert alert-info">
                Toto je kurz, který probíhá nebo proběhl naživo s instruktorem.
                {% if course.derives %}
                    <a href="{{ course_url( course.derives) }}">Přejít na ekvivalentní kurz pro samouky</a>.
                {% endif %}
            </div>
        {% endif %}
    </header>

    <h1>{{ course.title }}</h1>

    {% if course.subtitle is defined and course.subtitle != None %}
        <h2>{{ course.subtitle }}</h2>
    {% endif%}

    {{ course.long_description | markdown }}

{% endblock headline %}
