{% extends 'templates/_base.html' %}

{% block content %}

    {% block headline %}
    {% endblock headline %}

    <!-- Course description -->
    <section class="course-city container">
        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for lesson in plan %}
                <div class="section-box" id="section{{ loop.index }}">
                    <h4 class="section-heading">
                        {{ lesson['name'] }}
                    </h4>
                    {% for mat in lesson['materials'] %}
                        <div class="section-info">
                            <span class="glyphicon {{ 'glyphicon-pencil' }} section-icon"></span>
                            <a href="{{ lesson_url(names.get(mat['link'])[0], mat['link'].split('/')[-1]) }}">{{ names.get(mat['link'])[1] }}</a>
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock content %}
