{% extends "_base_course.html" %}
{% from "_material_macros.html" import material_list with context %}

{% block title %}{{ course.title }}{% endblock title %}

{% block breadcrumbs %}
> {{ course.title }}
{% endblock %}

{% block course_content %}
<div class="row">
    <div class="col-lg-8 {% if course.is_meta %}col-lg-12{% endif %}">
        {% block course_overview %}
              <h1>{{ course.title }}</h1>
{% if course.place and course.time_description %}
    <div class="details">{{course.place}}, {{course.time_description}}</div>
{% endif %}

{% if course.subtitle != None %}
    <h2>{{ course.subtitle }}</h2>
{% endif%}

{{ course.long_description }}
{% for session in course.sessions.values() %}

<div class="section{{ loop.index }}">
    <h4>
        {% if session.serial != None %}
            Lekce {{ session.serial }} –
        {% endif %}
        <a href="{{ session.get_url() }}">
            {{ session.title }}
        </a>
        {% if session.date %}
            <small>({{ session.date | format_date }})</small>
        {% endif %}
    </h4>
        {%- if session.description %}
            {{ session.description }}
        {% endif %}
    {{ material_list(session.materials) }}
</div>
{%- endfor %}

        {% endblock %}
    </div>
    <div class="{% if not course.is_meta %}col-lg-4{% endif %}">
        {% if course.start_date %}
            <div class="card course-card text-center">
                <div class="card-header">
                    Toto jsou podklady pro kurz s instruktorem
                </div>
                <div class="card-body">
                    <div class="calendar-dates">
                        {{ (course.start_date, course.end_date) | format_date_range }}
                    </div>
                    {% if course.default_time %}
                        <div class="default-times">
                            {{ course.default_time['start'] | format_time }}
                            –
                            {{ course.default_time['end'] | format_time }}
                        </div>
                    {% endif %}
                </div>
                <div class="card-footer small text-left">
                    <ul class="list-unstyled" style="margin-bottom:0;">
                        <li>
                            <a href="{{ url_for('course_calendar', course_slug=course.slug) }}">→ Kalendář</a>
                        </li>
                        {% if course.base_course %}
                        <li>
                            <a href="{{ course.base_course.get_url() }}">→ Ekvivalentní kurz pro samouky</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% elif not course.is_meta %}
            <div class="card course-card">
                <div class="card-header text-center">
                    Toto jsou materiály pro samouky
                </div>
                <div class="card-body">
                    <p>
                        Doufáme, že naše materiály jsou srozumitelné a přínosné.
                        Pokud ne, ozvěte se prosím:
                    </p>
                    <ul>
                        <li>
                            na <a href="https://www.facebook.com/groups/pyonieri/">Facebooku</a>,
                        </li>
                        <li>
                            založením <a href="https://github.com/pyvec/naucse.python.cz/issues/new"><i>issue</i> na Githubu</a>,
                        </li>
                        <li>
                            osobně na <a href="https://pyvo.cz/">srazu</a>, nebo
                        </li>
                        <li>
                            <a href="mailto:django-cs@googlegroups.com">mailem</a> do
                            <a href="https://groups.google.com/forum/#!forum/django-cs">diskusní skupiny</a>.
                        </li>
                    </ul>
                    <p>
                        Případné nejasnosti rádi vysvětlíme,
                        ale musíme o nich vědět!
                    </p>
                </div>
                {% if recent_runs %}
                    <div class="card-footer recent-runs">
                        Na těchto materiálech jsou založeny
                        i kurzy s instruktorem:
                        <ul class="list-unstyled">
                        {% for run in recent_runs %}
                            <li>
                                <a href="{{ run.get_url() }}">
                                    {{ run.title }}
                                    {% if run.subtitle %}
                                        – {{ run.subtitle }}
                                    {% endif %}
                                </a>
                                <div>
                                    {{ (run.start_date, run.end_date) | format_date_range }}
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
