{% extends '_base.html' %}

{% block content %}
<div class="page">
    <section class="container">

    <p>Momentálně jsou dostupné tyto kurzy:</p>

        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for course in courses.values() %}
                <div class="section{{ loop.index }}">
                    <h4><a href="{{ course_url(course) }}">{{ course.title }}</a></h4>
                    <p> {{ course.description }} </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

{% endblock %}
