{% extends "_base.html" %}
{% from "_material_macros.html" import material_list with context %}

{% block content %}

<div class="page">
    <div class="container">

        {% if course is defined %}
            <header class="lesson-header">
                <a href="{{ url_for('index') }}">Nauč se Python </a>
                > <a href="{{ url_for('courses') }}">Kurzy</a>
                > <a href="{{ course_url(course) }}">{{ course.title }}</a>
                > {{ session.title }}
                <hr>
            </header>
        {% endif %}

        <h1>
            {% if session.date %}
                Lekce: {{ session.title }} ({{ session.date }})
            {% else %}
                Lekce: {{ session.title }}
            {% endif %}
        </h1>

        {% if course.place is defined and course.time is defined and course.place != None and course.time != None %}
            <div class="details">{{course.place}}, {{course.time}}</div>
        {% endif %}

        <h2>Materiály</h2>
        {{ material_list(session.materials, filter_type='lesson') }}

        {% if cheatsheet_section %}
            <h2>Taháky</h2>
            {{ material_list(session.materials, filter_type='cheatsheet') }}
        {% endif %}

        {% block coverpage_content %}
            {{ content }}
        {% endblock %}

        <hr class="lesson-end">
        <div class="row prev-next">
            <div class="col text-left">
            {% if session.prev is defined and session.prev != None %}
                <a href="{{ session_url(course.slug, session.prev.slug) }}">← <span class="d-none d-sm-block">Lekce: {{ session.prev.title }}</span></a>
            {% endif %}
            </div>

            <div class="col text-left">
                <a href="{{ course_url(course) }}">↑ <span class="d-none d-sm-block">{{ course.title }}</span></a>
            </div>

            <div class="col text-right">
                <a href="{{ session_url(course.slug, session.slug, 'back') }}"><span class="d-none d-sm-block">Závěr lekce</span> →</a>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
