{% extends '_base.html' %}

{% block extra_links %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock extra_links%}

{% block content %}


    <div class="card card-outline-secondary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p>Nauč se Python, staň se superhrdinou nebo superhridinkou s zachraň svět.
            Python je moderní programovací jazyk. Je univerzální – pohání weby i rakety.
            Dobře se čte a dá se velice rychle naučit.</p>
        </blockquote>
      </div>
    </div>

    <div class="card card-inverse space">
      <img class="card-img" src="http://pyladies.cz/static/img/praha/praha3.jpg" alt="Card image">
    </div>

    <div class="center space">
        <a class="btn btn-secondary btn-lg" href="{{ url_for('runs') }}" role="button">Chci začít!</a>
        <p>Stačí umět klikat myší a psát na klávesnici. ;)</p>
    </div>

    <div class="row">
        <div class="col center">
            <a class="btn btn-secondary" href="{{ url_for('runs') }}" role="button">Pokračovat</a>
            <p>Umím programovat v jiném programovacím jazyce.</p>
        </div>

        <div class="col center">
            <a class="btn btn-secondary" href="{{ url_for('runs') }}" role="button">Pokračovat</a>
            <p>Už umím základy a chci se dozvědět něco víc.</p>            
        </div>
    </div>

    <h2>Další témata</h2>
    <div class="card-deck">
        <div class="card card-inverse">
          <img class="card-img" src="lessons/beginners/git/static/gitk.png" alt="Card image">
          <div class="card-img-overlay">
            <a href=""><h3 class="card-title center">Git</h4></a>
          </div>
        </div>

        <div class="card card-inverse">
          <img class="card-img" src="http://krejdom.cz/dess/code.jpg" alt="Card image">
          <div class="card-img-overlay">
            <a href=""><h3 class="card-title center">Git</h4></a>
          </div>
        </div>

        <div class="card card-inverse">
          <img class="card-img" src="http://krejdom.cz/dess/code.jpg" alt="Card image">
          <div class="card-img-overlay">
            <a href=""><h3 class="card-title center">Git</h4></a>
          </div>
        </div>

        <div class="card card-inverse">
          <img class="card-img" src="http://krejdom.cz/dess/code.jpg" alt="Card image">
          <div class="card-img-overlay">
            <a href=""><h3 class="card-title center">Git</h4></a>
          </div>
        </div>

        <div class="card card-inverse">
          <img class="card-img" src="http://krejdom.cz/dess/code.jpg" alt="Card image">
          <div class="card-img-overlay">
            <a href=""><h3 class="card-title center">...</h4></a>
          </div>
        </div>

    </div>

    <h2>Probíhající kurzy</h2>
    <div class="card-deck">
        <div class="card card-inverse">
          <img class="card-img" src="http://krejdom.cz/gallery/0021.jpg" alt="Card image">
          <div class="card-img-overlay">
            <a href=""><h4 class="card-title">Začátečnický kurz Pyladies Praha</h4>
            <p class="card-text">14. 3. 2017 - 6. 6. 2017<br>
            budova CZ.NIC,<br>
            Milešovská 5, Praha 3</p></a>
          </div>
        </div>

        <div class="card card-inverse">
          <img class="card-img" src="http://krejdom.cz/gallery/0021.jpg" alt="Card image">
          <div class="card-img-overlay">
            <a href=""><h4 class="card-title">Začátečnický kurz Pyladies Praha</h4>
            <p class="card-text">14. 3. 2017 - 6. 6. 2017<br>
            budova CZ.NIC,<br>
            Milešovská 5, Praha 3</p></a>
          </div>
        </div>
    </div>


{% endblock %}
