{% extends 'templates/_base.html' %}

{% block extra_links %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock extra_links%}

{% block content %}

    <div class="motivation">
        <p>Nauč se Python, staň se superhrdinou nebo superhridinkou s zachraň svět.
        Python je moderní programovací jazyk. Je univerzální – pohání weby i rakety.
        Dobře se čte a dá se velice rychle naučit.</p>

        <img src="http://pyladies.cz/static/img/praha/praha3.jpg">
    </div>


    <div class="col col-2-3">
        <div class="button start">
            <a href="{{ url_for('runs') }}">Chci začít!</a>
        </div>
        <p>Stačí umět klikat myší a psát na klávesnici. ;)</p>
    </div>

    <div class="col col-1-3">
        <div class="button continue">
            <a href="{{ url_for('runs') }}">Pokračovat</a>
        </div>
        <p>Umím programovat v jiném programovacím jazyce.</p>

        <div class="button continue">
            <a href="{{ url_for('runs') }}">Pokračovat</a>
        </div>
        <p>Už umím základy a chci<br> se dozvědět něco víc.</p>
    </div>

    <div class="topics">
        <h2>Další témata</h2>
        <a href=""><div style="background-image: url(lessons/beginners/git/static/gitk.png)" class="topic"><img src="">Git</div></a>
        <a href=""><div class="topic"><img src="">Kurz</div></a>
        <a href=""><div class="topic"><img src="">Kurz</div></a>
        <a href=""><div class="topic"><img src="">Kurz</div></a>
        <a href="{{ url_for('courses') }}"><div class="topic last"><img src="">...</div></a>
    </div>

    <div class="runs">
        <h2>Probíhající kurzy</h2>
        <a href=""><div class="run">
            <h3>Praha</h3>
            <p>??. ?. 2017 - ??. ?. 2017<br>
            místo a čas
            </p>
        </div></a>
        <a href="{{ run_url('2017', 'pyladies-brno-jaro-po') }}"><div class="run">
            <h3>Začátečnický kurz Pyladies Brno</h3>
            <p>??. ?. 2017 - ??. ?. 2017<br>
            každé pondělí v 18:00
            </p>
        </div></a>
        <a href=""><div class="run last">
            <h3>Ostrava</h3>
            <p>??. ?. 2017 - ??. ?. 2017<br>
            místo a čas
            </p>
        </div></a>

    </div>


{% endblock %}
