{% extends '_base.html' %}

{% block extra_links %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock extra_links%}

{% block content %}

    <div class="card card-inverse space motivation">
      <img class="card-img" src="{{url_for('static', filename='pycon2016cz.png')}}" alt="Card image">
      <div class="card-img-overlay">
        <p class="responsive-text card-text center">Nauč se Python, staň se superhrdinou nebo superhrdinkou a zachraň svět.<br>
            Python je moderní programovací jazyk. Je univerzální – pohání weby i rakety.
            Dobře se čte a dá se velice rychle naučit.</p>
      </div>
    </div>

  <div class="page">
    <div class="container">
      <div class="space center">
          <a class="btn btn-secondary btn-lg" href="{{ run_url('pyladies') }}" role="button">Chci začít!</a>
          <p>Stačí umět klikat myší a psát na klávesnici. ;)</p>
      </div>

      <div class="row small-space">
          <div class="col center">
              <a class="btn btn-secondary" href="{{ url_for('courses') }}" role="button">Pokračovat</a>
              <p>Umím programovat v jiném programovacím jazyce.</p>
          </div>

          <div class="col center">
              <a class="btn btn-secondary" href="{{ run_url('mi-pyt') }}" role="button">Pokračovat</a>
              <p>Už umím základy a chci se dozvědět něco víc.</p>            
          </div>
      </div>

      <h2>Další témata</h2>

      <div class="card-deck big-space">
        <div class="card card-inverse">
          <div class="card-img-overlay topic color1">
            <a href="{{ lesson_url('git/basics') }}"><h3 class="card-title">Git</h3></a>
          </div>
        </div>

        <div class="card card-inverse">
          <div class="card-img-overlay topic color2">
            <a href="{{ lesson_url('intro/flask') }}"><h3 class="card-title">Flask</h3></a>
          </div>
        </div>

        <div class="card card-inverse">
          <div class="card-img-overlay topic color1">
            <a href="{{ lesson_url('intro/micropython') }}"><h3 class="card-title">MicroPython</h3></a>
          </div>
        </div>

        <div class="card card-inverse">
          <div class="card-img-overlay topic color2">
            <a href="{{ lesson_url('intro/turtle') }}"><h3 class="card-title">Želva</h3></a>
          </div>
        </div>

        <div class="card card-inverse">
          <div class="card-img-overlay topic color1">
            <a href="{{ run_url('mi-pyt') }}"><h3 class="card-title">...</h3></a>
          </div>
        </div>
      </div>

      <h2>Probíhající kurzy</h2>
      <div class="card-deck">
          <div class="card card-inverse">
            <img class="card-img course" src="http://krejdom.cz/gallery/0021.jpg" alt="Card image">
            <div class="card-img-overlay blink">
              <a href="{{ run_url('2017/pyladies-brno-jaro-po') }}"><h4 class="card-title">Začátečnický kurz Pyladies Brno</h4>
              <p class="card-text">pondělí<br> 27. 2. 2017 - 29. 5. 2017</p></a>
            </div>
          </div>

          <div class="card card-inverse">
            <img class="card-img course" src="http://krejdom.cz/gallery/0021.jpg" alt="Card image">
            <div class="card-img-overlay blink">
              <a href="{{ run_url('2017/pyladies-brno-jaro-po') }}"><h4 class="card-title">Začátečnický kurz Pyladies Brno</h4>
              <p class="card-text">úterý<br> 28. 2. 2017 – 30. 5. 2017</p></a>
            </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
