{% extends "_base_course.html" %}

{% block style %}
    {% if page.css %}
        {{ page.css }}
    {% endif %}
{% endblock style %}

{% block extra_links %}
    {% if canonical_url is defined and canonical_url %}<link rel="canonical" href="{{ canonical_url }}" />{% endif %}
{% endblock %}

{% block breadcrumbs %}
{# Only used if course is provided #}
> <a href="{{ course_url(course) }}">{{ course.title }}</a>
{% if session %}
> <a href="{{ session_url(course.slug, session.slug) }}">{{ session.title }}</a>
{% endif %}
> {{ page.title }}
{% endblock %}

{% block warning_msg %}
  {% if error_in_fork|default(false) %}
    {% include "_using_default_page.html" %}
  {% endif %}
{% endblock %}

{% block course_content %}
    {% if solution_number|default(None) is not none %}
        <h1>{{ page.title }} – Řešení [{{ solution_number }}]</h1>
    {% endif %}

    {{ content|safe }}

{% endblock %}

{% block attributions %}
    {% for a in page.attributions %}
        {{ a | markdown }}
    {% endfor %}
{% endblock %}

{% block license %}
    <p>
        Licence:
        <a href="{{ page.license.url }}">
            {{ page.license.title }}
        </a>
    </p>
    {% if page.license_code %}
        <p>
            Licence ukázek kódu:
            <a href="{{ page.license_code.url }}">
                {{ page.license_code.title }}
            </a>
        </p>
    {% endif %}
{% endblock license %}
