{% extends "_base_course.html" %}

{% block title %}{{ course.title }}: {{ page.title }}{% endblock title %}

{% block style %}
    {# XXX % if page.css %}
        {{ page.css }}
    {% endif %#}
{% endblock style %}

{% block extra_links %}
    {% if canonical_url is defined and canonical_url %}<link rel="canonical" href="{{ canonical_url }}" />{% endif %}
{% endblock %}

{% block breadcrumbs %}
{# Only used if course is provided #}
> <a href="{{ course.get_url() }}">{{ course.title }}</a>
{% if session %}
> <a href="{{ session.get_url() }}">{{ session.title }}</a>
{% endif %}
> {{ page.title }}
{% endblock %}

{% block warning_msg %}
  {% if error_in_fork|default(false) %}
    {% include "_using_default_page.html" %}
  {% endif %}
{% endblock %}

{% block course_content %}
    {% if solution_number|default(None) is not none %}
        <h1>{{ page.title }} – Řešení [{{ solution_number }}]</h1>
    {% endif %}

    {{ content }}

{% endblock %}

{% block attributions %}
    {% for a in page.attribution %}
        <p>{{ a }}</p>
    {% endfor %}
{% endblock attributions %}

{% block license %}
    <p>
        Licence:
        <a href="{{ page.license.url }}">
            {{ page.license.title }}
        </a>
    </p>
    {% if page.license_code is defined %}
    <p>
        Licence ukázek kódu:
        <a href="{{ page.license_code.url }}">
            {{ page.license_code.title }}
        </a>
    </p>
    {% endif %}
{% endblock license %}

{%- block prev_next %}
        {%- set mat = page.material %}


        {% call nav.prevnext() %}
            {% if mat.prev %}
                {{ nav.prev(mat.prev.get_url(), mat.prev.title) }}
            {% endif %}
            
                {{ nav.up(mat.session.get_url(), 'Lekce: ' + mat.session.title) }}
            
            {% if mat.next %}
                {{ nav.next(mat.next.get_url(), mat.next.title) }}
            {% else %}
                {{ nav.next(mat.session.pages['back'].get_url(), 'Závěr lekce') }}
            {% endif %}
        {% endcall %}
{%- endblock prev_next %}
