{% extends "_base.html" %}

{% block style %}
    {% if page.css %}
        {{ page.css }}
    {% endif %}
{% endblock style %}

{% block content %}

<div class="page">
    <div class="container">

        {% if run is defined %}
            <header class="lesson-header">
                <h1>{{ run.title }}</h1>
                <hr>
            </header>
        {% endif %}

        {% block lesson_content %}
            {{ content }}
        {% endblock %}
        
        <hr class="lesson-end">

        {% if (prv is defined and prv != None) or (nxt is defined and nxt != None) %}
        <div class="row prev-next">
            <div class="col text-left">
            {% if prv is defined and prv != None %}
                <a href="{{ lesson_url(lesson=prv.page.lesson, page=prv.page.slug) }}">← <span class="hidden-xs-down">{{ prv.title }}</span></a>
            {% endif %}
            </div>

            <div class="col text-right">
            {% if nxt is defined and nxt != None %}
                <a href="{{ lesson_url(lesson=nxt.page.lesson, page=nxt.page.slug) }}"><span class="hidden-xs-down">{{ nxt.title }}</span> →</a>
            {% endif %}
            </div>
        </div>

        <hr>
        {% endif %}

        {% if page.attributions or page.license %}
            <div class="lesson-attribution">
                {% for a in page.attributions %}
                    {{ a | markdown }}
                {% endfor %}
                {% if page.license %}
                    <p>
                        Licence:
                        <a href="{{ page.license.url }}">
                            {{ page.license.title }}
                        </a>
                    </p>
                {% endif %}
            </div>
        {% endif %}

    </div>
</div>

{% endblock content %}
