{% extends '_base.html' %}

{% block content %}
<div class="page">
<section class="container">

    <p>Materiály právě probíhajících kurzů:</p>

        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for year, run_year in run_years.items() %}
                    <h2>{{ year }}</h2>
                    {% for slug, run in run_year.runs.items() %}
                        <div class="section{{ loop.index }}">
                        <h4><a href="{{ run_url(run) }}">{{ run.title }}</a></h4>
                        <p> {{ run.description }} </p>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
</section>
</div>

{% endblock %}
