{% extends 'templates/course_page.html' %}

{% block headline %}

    <h2>Začátečnický kurz PyLadies</h2>
    <p><a href="http://pyladies.cz/" alt="Pyladies"> Pyladies</a> jsou (mezinárodní) aktivita, která se snaží přiblížit IT ženám a ženy k IT. K tomuto účelu využívá programovací jazyk Python. Zde najdeš materiály, které se používají na začátečnických kurzech v Praze, Brně a Ostravě.</p>
    <p>Jednotlivé lekce jsou určeny naprostým začátečníkům, žádné předchozí znalosti nejsou nutné. Instrukce jsou uvedeny pro operační systémy Linux, Windows i macOS.</p>

{% endblock headline %}
