[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
naucse = "python -m naucse"
serve = "python -m naucse serve"
freeze = "python -m naucse freeze"
test = "python -m pytest test_naucse/"

[packages]
"ansi2html" = "*"
elsa = ">=0.1.5"
ics = "*"
ipython = "*"
mistune = "*"
nbconvert = "*"
python-dateutil = "*"
traitlets = "*"
arca = {extras = ["docker"],version = ">= 0.3"}
cssutils = "*"
click = "*"
giturlparse = "*"
PyYAML = "*"
Flask = "*"
Frozen-Flask = "*"
"Jinja2" = "*"
jupyter_client = "*"
Pygments = "*"
Werkzeug = "*"
GitPython = "*"
jsonschema = "*"
lxml = "*"
pygments-pytest = "*"
naucse-render = ">=1.2,<2.0"

[dev-packages]
pytest = "*"
pytest-env = "*"
pytest-mock = "*"

[requires]
python_version = "3.6"
