[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
naucse = "python -m naucse"
serve = "python -m naucse serve"
freeze = "python -m naucse freeze"
test = "python -m pytest test_naucse/"

[packages]
naucse = "*"
naucse-render = "<1.0"

[requires]
python_version = "3.6"
