{% extends 'templates/_base.html' %}

{% block content %}
    <p>Materiály právě probíhajících kurzů:</p>

    <section class="course-city container">
        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for run in runs %}
                <div class="section-box" id="section{{ loop.index }}">
                    <h4><a href="{{ run_url(runs[run]['year'], runs[run]['link']) }}">{{ runs[run]['title'] }}</a></h4>
                    <p class="section-info course-city-p"> {{ runs[run]['description'] }} </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
