.calendar-heading {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}

table.calendar {
    border-spacing: 0.25em;
    border-collapse: separate;
    margin: 0.5em auto;
    margin-left: auto;
    margin-right: auto;
}

table.calendar tr {
    height: 4em;
}

table.calendar td,
table.calendar th {
    width: 14.28%;
    min-height: 4em;
    background-color: rgba(0,0,0,.03);
    vertical-align: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

table.calendar td.foreign-month {
    background-color: transparent;
    color: rgba(0,0,0,.1);
}

table.calendar td.no-event {
    color: #343a40;
}

table.calendar td.event {
    background-color: #3fb0ac;
    color: white;
}

table.calendar td.event a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    color: white;
}

table.calendar .session-number {
    display: block;
}

table.calendar .session-title {
    display: block;
    text-align: center;
    text-overflow: '…';
    white-space: nowrap;
    width: 4em;
    overflow: hidden;
}

@media (min-width: 768px) {
    table.calendar td,
    table.calendar th {
        min-width: 5em;
    }
}
