body {
    font-family: serif;
    margin: 0px;
}

/*************************/

#header {
    background-color: #ddd;
    font-family: sans-serif;
    font-size: 18px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.20);
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li a {
    display: block;
    text-decoration: none;
}

.logo h1 {
    color: #000;
    float: left;
    font-size: 24px;
}

.menu-link h2 {
    font-size: 16px;
    font-weight: normal;
    float: right;
    margin-top: 16px;
    padding: 10px;
	color: #000;
}

.menu-link:hover {
    background-color: #ccc;
}


/*************************/

#page {
    padding: 20px;
}


/*************************/

#footer {
    background-color: #ddd;
    font-family: sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.20);
}

.col-3 {
	display: inline-block;
	vertical-align: top;
	width: 300px;
}

.col-3 h2 {
	margin-top: 0px;
}

/*************************/

.block {
    width: 930px;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

/*************************/


pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: block;
    font-family: monospace;
    font-size: 13px;
    line-height: 1.42857143;
    margin: 0 0 10px;
    overflow: auto;
    padding: 9.5px;
    page-break-inside: avoid;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    border-radius: 4px;
    background-color: #f9f2f4;
    color: #c7254e;
    font-family: monospace;
    font-size: 90%;
    padding: 2px 4px;
    white-space: pre-wrap;
}

span.align-right {
  float: right;
}

span.align-center {
  text-align: center;
}
