
/* Taken from http://getbootstrap.com/examples/jumbotron-narrow/ */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 1em;
}

/* Customize container */
@media (min-width: 968px) {
  .container {
    max-width: 930px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Custom PyLadies styles */

@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Oxygen&subset=latin,latin-ext");

body {
    font-family: Oxygen, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bree Serif", serif;
}

.container {
    text-align: center;
}

a {
    color: #FF6464;
}

a:hover, a:focus {
    color: #FF3232;
}

.jumbotron h1 {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.jumbotron small {
  font-size: 50%;
}

.btn-success, .btn-success:hover, .btn-success:focus {
    background-color: #FF3232;
    border-color: #FF3232;
}

.jumbotron-secret {
    background: none;
}

.petr {
    width: 20%;
    margin: 0 1em 1em 0;
}

.logo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.stuff {
    text-align: left;
}

.homepage .banner-photo-container {
    border-style: none;
    padding: 0;
    margin: 2em 0;
    text-align: center;
    background-color: black;
}

.homepage .banner-photo-container img {
    width: auto;
    max-width: 100%;
    margin: 0;
}

.note {
    margin: 1em 0 1em 4em;
    font-style: italic;
}

.plhome {
    background-color: #cef;
    display: inline-block;
    color: inherit;
}

.comment {
    color: #888;
}

.no-reveal section {
    margin-top: 2em;
}

img.photo {
    max-width: 100%;
    text-align: center;
}

details {
    background-color: #EEE;
    box-shadow: -750px 0 0 #EEE,
                 750px 0 0 #EEE,
                0 0 0 #000;
}

details.detail-not-expanded {
    background-color: inherit;
    box-shadow: none;
}

.alt-section {
    background-color: #EEE;
    padding-bottom: 1em;
    box-shadow: -750px 0 0 #EEE,
                 750px 0 0 #EEE,
                0 0 0 #000;
}

@media print {
    .container {
        width: 100%;
    }
}
