{% extends 'templates/_base.html' %}

{% block title %}MI-PYT kurz{% endblock %}

{% block content %}

    <h2>Kurz MI-PYT</h2>
    <p>Díváte se na materiály předmětu MI-PYT (Pokročilý Python) na FIT ČVUT. Materiály jsou dostupné v dvojí podobě, interně pro studenty FITu na Eduxu a pro všechny veřejně na <a href="https://github.com/cvut/MI-PYT" alt="GitHub">GitHubu</a>.</p>
    <p>Kde není uvedeno jinak, jsou materiály dostupné pod licencí Creative Commons Attribution-ShareAlike 4.0 International, kde autorem je Petr Viktorin a Miro Hrončok (vyučující předmětu) a další přispěvatelé. Tento kurz vzniká pod záštitou firmy Red Hat Czech, s.r.o.</p>

    <!-- Course description -->
    <section class="course-city container">
        <div class="row">
            <div class="sections col-xs-12 col-sm-12 col-md-8 col-lg-8">
                {% for lesson in plan %}
                <div class="section-box" id="section{{ loop.index }}">
                    <h4 class="section-heading">
                        {{ lesson['name'] }}
                    </h4>
                    {% for mat in lesson['materials'] %}
                        <div class="section-info">
                        {% set icon_class = 'glyphicon-pencil' %}   
                            <span class="glyphicon {{ icon_class }} section-icon"></span>
                            {% if 'link' in mat %}
                                <a href="{{ lesson_url('mi-pyt', mat['link']) }}">{{ mat['name'] }}</a>
                            {% else %}
                                {{ mat['name'] }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock content %}
