/* Styles for lesson and other content */

/*************************/

.lesson-attribution {
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.8rem;
}


.pythondir {
    display: inline-block;
    padding: 2px 0 0 0;
    background-color: #CCDDFF;
    color: black;
    border-radius: 4px;
}
