/* Styles for lessons and other content */

/*************************/

.lesson-attribution {
    text-align: center;
    line-height: 1.5rem;
    font-size: 0.8rem;
}


.pythondir {
    display: inline-block;
    padding: 2px 0 0 0;
    background-color: #CCDDFF;
    color: black;
    border-radius: 4px;
}


/*** Admonitions ***/

.admonition {
    font-style: italic;
    background-color: #DDD;
    border-radius: 4px;
    padding: 0.75rem 2rem 0.75rem 1.5rem;
    margin-bottom: 0.75rem;
    margin-left: 2rem;
    margin-right: -3rem;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.admonition p {
    margin-bottom: 0;
}

.admonition em {
    font-style: normal;
}

.admonition.note p:before {
    content: '*';
    position: absolute;
    top: -5.5rem;
    right: -1.1rem;
    font-size: 13rem;
    color: #0275d8;
    opacity: 0.2;
    font-style: normal;
    font-family: 'Bree Serif';
}


/*** Figures ***/

.figure img {
    max-width: 100%;
}

.figure {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
