@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Oxygen&subset=latin,latin-ext");

body {
    font-family: Oxygen, sans-serif;
    padding-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bree Serif", serif;
}

h2:first-child {
    padding-top: 0;
}

nav.header {
    background-color: #DDD;
    color: #000;
    margin-bottom: 3em;
}

.header .menu {
    padding: 0;
}

.header .menu li a {
    color: #E51F40;
}

.page {
    margin-bottom: 1rem;
    padding-bottom: 0px;
}

.lesson-header {
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.lesson-header p {
    margin: 0;
    padding: 0;
}

.lesson-header h1,
.lesson-header h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.details {
    margin-bottom: 1rem;
}