.small-space {
    margin-bottom: 40px;
}

.space {
    margin-bottom: 60px;
}

.big-space {
    margin-bottom: 100px;
}

/**********************/

.alert-danger {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0;
    margin-bottom: 10px;
}

.btn-lg {
    font-size: 32px;
}

.blink {
    box-shadow: inset 0 0 0 300px rgba(0,0,0,.6);
}

.blink:hover {
    box-shadow: inset 0 0 0 300px rgba(0,0,0,.4);
}

.card-img {
    min-width: 190px;
    width: 100%;
}


.card-inverse .card-blockquote .blockquote-footer, .card-inverse .card-link, .card-inverse .card-subtitle, .card-inverse .card-text {
    color: rgba(255,255,255,.85);
}

.center {
    text-align: center;
}
.course {
    min-height: 160px;
}

.header {
    background-color: #fff;
}

.menu li h1 {
    color: #000;
}

.menu li h2 {
    color: #000;
}

.motivation div {
    height: 100%;
}

.motivation img {
    border: 0px;
}

.responsive-text {
    font-size: 2vw;
    font-weight: 500;
    padding-left: 16%;
    padding-right: 16%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.topic {
    color: #fff;
    height: 70px;
    text-align: center;
}

.color1 {
    background-color: #3fb0ac;
}

.color2 {
    background-color: #173e43;
}

.page a {
    color: #000;
}
