@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Oxygen&subset=latin,latin-ext");

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: Oxygen, sans-serif;
    margin: 0px;
    position: relative;
    padding-bottom: 1rem;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bree Serif", serif;
}

h2 {
    padding-top: 32px;
}

h2:first-child {
    padding-top: 0;
}

.header h2 {
    font-family: Oxygen;
}


/*************************/

.header {
    font-family: sans-serif;
    font-size: 18px;
    background-color: #3fb0ac;
    padding: 5px 20px 15px 20px;
}

.menu {
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 0;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.logo h1 {
    float: left;
    font-size: 24px;
    margin-top: 32px;
}

.menu-link h2 {
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-top: 30px;
    padding: 10px 10px 0 10px;
}

a h2:hover {
    color: #D1F6F5;
}

/*************************/

.page {
    padding: 20px 20px 0 20px;
    margin-bottom: 0 auto 1rem auto;
}

a {
    color: #008580;
}

a:hover {
    color: #3fb0ac;
    text-decoration: none;
}

.lesson-content {
    /* So elements inside with `position: absolute` are positioned absolutely just inside this div. */
    position: relative;
}


.lesson-header {
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.lesson-header p {
    margin: 0;
    padding: 0;
}

.lesson-header h1,
.lesson-header h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

.details {
    margin-bottom: 1rem;
}

.course-card {
    margin-top: 3em;
}
@media (min-width: 992px) {
    .course-card {
        margin-top: 0;
    }
}

.course-card .recent-runs li {
    margin-top: 1em;
}

div.empty-run-list {
    padding-bottom: 2rem;
}

svg.icon {
    width: 1em;
    height: 1em;
    transform: translate(0px, 0.1em);
    overflow: visible;
    stroke-width: 2.5px;
    stroke: currentColor;
    fill: none;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

/*************************/

pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 13px;
    line-height: 1.42857143;
    margin: 0 0 10px;
    overflow: auto;
    padding: 9.5px;
    page-break-inside: avoid;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    border-radius: 4px;
    background-color: #f9f2f4;
    color: #c7254e;
    font-size: 90%;
    padding: 2px 4px;
    white-space: pre-wrap;
}

/*** Session lists ***/

.session-time-place {
    margin-left: 1.5em;
}

.session-time-place .regular-time {
    font-size: inherit;
}

.session-time-place small.regular-time {
    color: #888;
}

.session-time-place .irregular-time-alert {
    color: #888;
}

.session-time-place .irregular-time-alert .icon {
    color: #F0AD4E;
}

/*** Material lists ***/

ul.material-list {
    padding: 0;
    padding-left: 1.5em;
}

ul.material-list > li {
    list-style-type: none;
    text-indent: -1.5em;
}

ul.material-list > li svg.icon {
    padding-right: 0.5em;
    box-sizing: content-box;
    color: black;
}

/*** Pagination ***/

ul.paginate {
    list-style-type: none;
    text-align: center;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

ul.paginate > li {
    display: inline-block;
    background-color: #F0F0F0;
    padding: 0;
}

ul.paginate > li.current {
    display: inline-block;
    background-color: #FFFFFF;
}

ul.paginate > li:hover {
    background-color: #E0E0E0;
}

ul.paginate > li a {
    color: #000;
    display: inline-block;
    padding: 0.5ex 1ex;
    text-decoration: none;
}

ul.paginate > li a.disabled {
    color: #999;
    pointer-events: none;
}
