html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: serif;
    margin: 0px;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

h2 {
    padding-top: 32px;
}


/*************************/

.header {
    font-family: sans-serif;
    font-size: 18px;
    background-color: #3fb0ac; 
}

.menu {
    list-style-type: none;
    padding: 15px 0px 10px 0px;
    overflow: hidden;
    margin-bottom: 0;
}

.menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.logo h1 {
    float: left;
    font-size: 24px;
    margin-top: 26px;
}

.menu-link h2 {
    font-size: 16px;
    font-weight: bold;
    float: right;
    margin-top: 24px;
    padding: 10px;
}

a h2:hover {
    color: #D1F6F5;
}


/*************************/

.page {
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 140px;
}

.page a {
    color: #239995;
}

.page a:hover {
    color: #026C68;
    text-decoration: none;
}

/*************************/

.footer {
    background-color: #fff;
    border-top: solid 1px #000;
    font-family: sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/*************************/

pre {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: block;
    font-family: monospace;
    font-size: 13px;
    line-height: 1.42857143;
    margin: 0 0 10px;
    overflow: auto;
    padding: 9.5px;
    page-break-inside: avoid;
    word-break: break-all;
    word-wrap: break-word;
}

code {
    border-radius: 4px;
    background-color: #f9f2f4;
    color: #c7254e;
    font-family: monospace;
    font-size: 90%;
    padding: 2px 4px;
    white-space: pre-wrap;
}
