@import url("http://fonts.googleapis.com/css?family=Glegoo");
@font-face {
  font-family: 'Glegoo';
}
body {
  background: #f7f2d3;
  background: -moz-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,
    white), color-stop(100%, #f7f2d3));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #f7f2d3 100%);
  background: radial-gradient(center, circle cover, white, #f7f2d3);
  background-color: #e5e5e5;
}
.reveal {
  font-family: 'Glegoo', sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #333;
}
::selection {
  color: #fff;
  background: rgba(79, 64, 28, 0.99);
  text-shadow: none;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: 'League Gothic', Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
}
.reveal h1 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0,
    0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.reveal a:not(.image) {
  color: #FF6464;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}
.reveal a:not(.image):hover {
  color: #ffcaca;
  text-shadow: none;
  border: none;
}
.reveal .roll span:after {
  color: #fff;
  background: #ff1818;
}
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #FF6464;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #FF6464;
}
.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #FF6464;
}
.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #FF6464;
}
.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #FF6464;
}
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #ffcaca;
}
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #ffcaca;
}
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #ffcaca;
}
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #ffcaca;
}
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}
.reveal .progress span {
  background: #FF6464;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
.reveal .slide-number {
  color: #FF6464;
}
