{% from "_material_macros.html" import material_list with context %}
{% import "_navigation_macros.html" as nav %}

<h1>
    Závěr lekce: {{ session.title }}
</h1>

{% if homework_section %}
    <h2>Domácí projekty</h2>
    {{ material_list(session.materials, filter_type='homework') }}
{% endif %}

{% if link_section %}
    <h2>Zajímavé odkazy</h2>
    {{ material_list(session.materials, filter_type='link') }}
{% endif %}

{% block coverpage_content %}
    {{ content }}
{% endblock %}

<hr class="lesson-end">

{% call nav.prevnext() %}
    {{ nav.prev(session_url(course.slug, session.slug), session.title) }}
    {{ nav.up(course_url(course), course.title) }}
    {% if session.next is defined and session.next != None %}
        {{ nav.next(session_url(course.slug, session.next.slug), session.next.title) }}
    {% endif %}
{% endcall %}
