<h1>{{ course.title }}</h1>

{% if course.subtitle is defined and course.subtitle != None %}
    <h2>{{ course.subtitle }}</h2>
{% endif%}

{% if course.default_start_time %}
    <div>
        Přidej si kurz do svého kalendáře:
        <a href="{{ url_for('course_calendar_ics', course=course) }}">iCal</a>
    </div>
{% else %}
    <!-- iCal link missing because course doesn't have info about start/end times. -->
{% endif%}
{% if course.start_date %}
    {% for year, month in months %}
        <h3 class="calendar-heading">
            {{ month | monthname }} <span class="year">{{ year }}</span>
        </h3>
        <table class="calendar">
            {% for date in calendar.itermonthdates(year, month) %}
                {% if date.weekday() == 0 %}<tr>{% endif %}
                {% if date.month == month %}
                    {% set session = sessions_by_date.get(date, None) %}
                    {% if session %}
                        <td class="event">
                            <a href="{{ url_for('session_coverpage', course=course, session=session.slug) }}"
                             title="#{{ session.index+1 }} – {{ session.title }}">
                                <span class="session-number">
                                    {{ date.day }}. {{ date.month }}.
                                </span>
                                <span class="session-title">
                                    {{ session.title }}
                                </span>
                            </a>
                        </td>
                    {% else %}
                        <td class="no-event">
                            {{ date.day }}
                        </td>
                    {% endif %}
                {% else %}
                    <td class="foreign-month">
                        &nbsp;
                    </td>
                {% endif %}
                {% if date.weekday() == 6 %}</tr>{% endif %}
            {% endfor %}
        </table>
    {% endfor %}
{% else %}
    Tento kurz nemá kalendář.
{% endif %}
