{% from "_material_macros.html" import material_list with context %}

<h1>{{ course.title }}</h1>
{% if course.place is not none and course.time is not none %}
    <div class="details">{{course.place}}, {{course.time}}</div>
{% endif %}

{% if course.subtitle is defined and course.subtitle != None %}
    <h2>{{ course.subtitle }}</h2>
{% endif%}

{{ course.long_description | markdown }}

{% for session in plan.values() %}
<div class="section{{ loop.index }}">
    <h4>
        {% if plan|length > 1 %}
            Lekce {{ loop.index }} –
        {% endif %}
        <a href="{{ session_url(course.slug, session.slug) }}">
            {{ session.title }}
        </a>
        {% if session.date %}
            <small>({{ session.date | format_date }})</small>
        {% endif %}
    </h4>
        {% if session.description %}
            {{ session.description | markdown }}
        {% endif %}
    {{ material_list(session.materials) }}
</div>
{% endfor %}
