<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Nauč se Python</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/pyladies.css')}}">
        
        <style>
           	{% block style %}
            {% endblock %}
        </style>
    </head>
    <body>
        <div class="container reveal">
            <div class="header">
                <h1>Nauč se Python</h1>
            </div>
            <div>
               	{% block content %}
                {% endblock %}
            </div>
            <div class="footer">
                <div>pro PyLadies CZ napsal Petr Viktorin, 2016</div>
                <div>Licence: <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a></div>
            </div>
            
            <script type="text/javascript" src="/static/js/solutions.js"></script>
            
        </div>
    </body>
</html>
