<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Nauč se Python</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/pyladies.css')}}">
    </head>
    <body>
        <div class="container reveal">
            <div class="header">
                <h1>Nauč se Python</h1>
            </div>
            <div>
               	{% block content %}
                {% endblock %}
            </div>
            <div class="footer">
                <div>pro PyLadies CZ napsal Petr Viktorin, 2016</div>
                <div>Licence: <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a></div>
            </div>
            

            <script src="/static/reveal.js/lib/js/head.min.js"></script>
            <script src="/static/reveal.js/js/reveal.min.js"></script>

            <script>

                function start_reveal() {
                    var head = document.getElementsByTagName('head')[0];
                    var s = document.createElement('link');
                    s.setAttribute('rel', 'stylesheet');
                    s.setAttribute('type', 'text/css');
                    s.setAttribute('href', "../reveal.js/css/reveal.min.css");
                    head.appendChild(s);

                    Reveal.initialize({
                        controls: true,
                        progress: true,
                        history: true,
                        center: true,

                        transition: 'linear',
                        transitionSpeed: 'fast',

                        dependencies: [
                            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                        ]
                    });
                }

            </script>
        </div>
    </body>
</html>
