{% extends 'templates/_base.html' %}

{% block title %}Úvodní stránka{% endblock %}

{% block content %}
    <p>Vítejte na naucse.python.cz
    <ol>
        <li><a href="{{course_url('cmdline/')}}">Úvod do příkazové řádky</a>
        <li><a href="{{course_url('install/')}}">Instalace</a>
        <li><a href="{{course_url('install_editor/')}}">Instalace editoru</a>
        <li><a href="{{course_url('install_git/')}}">Instalace gitu</a>
        <li><a href="{{course_url('hello-world/')}}">První program</a>
        <li><a href="{{course_url('printing/')}}">Chybové hlášky a print</a>
        <li><a href="{{course_url('variables/')}}">Proměnné</a>
        <li><a href="{{course_url('comparisons/')}}">Porovnávání</a>
        <li><a href="{{course_url('and-or/')}}">Nebo anebo a</a>
        <li><a href="{{course_url('functions/')}}">Funkce</a>
        <li><a href="{{course_url('turtle/')}}">Želva a cykly</a>
        <li><a href="{{course_url('while/')}}">Cyklus While</a>
        <li><a href="{{course_url('git/')}}">Git</a>
        <li><a href="{{course_url('branching/')}}">Branching</a>
    </ol>
{% endblock %}
