{% extends 'templates/_base.html' %}

{% block title %}Úvodní stránka{% endblock %}

{% block content %}
    <p>Vítejte na naucse.python.cz
    <ol>
        <li><a href="{{course_url('cmdline/')}}">Úvod do příkazové řádky</a>
        <li><a href="{{course_url('install/')}}">Instalace</a>
        <li><a href="{{course_url('install_editor/')}}">Instalace editoru</a>
        <li><a href="{{course_url('install_git/')}}">Instalace gitu</a>
        <li><a href="{{course_url('hello-world/')}}">První program</a>
        <li><a href="{{course_url('printing/')}}">Chybové hlášky a print</a>
        <li><a href="{{course_url('variables/')}}">Proměnné</a>
        <li><a href="{{course_url('comparisons/')}}">Porovnávání</a>
        <li><a href="{{course_url('and-or/')}}">Nebo anebo a</a>
        <li><a href="{{course_url('functions/')}}">Funkce</a>
        <li><a href="{{course_url('turtle/')}}">Želva a cykly</a>
        <li><a href="{{course_url('while/')}}">Cyklus While</a>
        <li><a href="{{course_url('git/')}}">Git</a>
        <li><a href="{{course_url('branching/')}}">Větvení v Gitu</a>
        <li><a href="{{course_url('own_functions/')}}">Vlastní funkce</a>
        <li><a href="{{course_url('strings/')}}">Řetězce</a>
        <li><a href="{{course_url('exceptions/')}}">Výjimky</a>
        <li><a href="{{course_url('modules/')}}">Moduly</a>
        <li><a href="{{course_url('testing/')}}">Testování</a>
        <li><a href="{{course_url('circular_imports/')}}">Poznámka k importu</a>
        <li><a href="{{course_url('cooperation_and_OSS/')}}">Spolupráce & Open Source</a>
        <li><a href="{{course_url('files/')}}">Soubory</a>
        <li><a href="{{course_url('lists/')}}">Seznamy</a>
        <li><a href="{{course_url('tuples/')}}">N-tice</a>
        <li><a href="{{course_url('dicts/')}}">Slovníky</a>
        <li><a href="{{course_url('json/')}}">JSON</a>
        <li><a href="{{course_url('github_api/')}}">Github API</a>
        <li><a href="{{course_url('pyglet/')}}">Grafika</a>
        <li><a href="{{course_url('pong/')}}">Pong</a>
        <li><a href="{{course_url('classes/')}}">Třídy</a>
        <li><a href="{{course_url('inheritance/')}}">Dědičnost</a>
        <li><a href="{{course_url('asteroids/')}}">Asteroids</a>
    </ol>
{% endblock %}
