{% extends 'templates/_base.html' %}

{% block content %}
<div class="slides">
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Příkazová řádka</h2>
            <p>
                Nejdříve musíme otevřít příkazovou řádku – to černé okýnko,
                které programátoři používají na zadávání příkazů.
                Na první pohled může vypadat nepřirozeně, ale dá se na ni zvyknout :)
            </p>
            <p>
                Příkazová řádka
                (respektive program, kterému se říká i <em>konzole</em> či <em>terminál</em>;
                anglicky <em>command line</em>, <em>console</em>, <em>terminal</em>)
                se otevírá takto:
            </p>
            <ul>
                <li>Windows (cs): Start → Všechny programy → Příslušenství → Příkazový řádek</li>
                <li>Windows (en): Start → All Programs → Accessories → Command Prompt</li>
            </ul>
            <p>
                Nevíš-li si rady, zkus buď googlit, nebo se jednoduše zeptat
                (na sraze kouče, jinak e-mailem).
            </p>
            <p>
                Po otevření konzole tě uvítá řádek,
                kterým počítač vybízí k zadání příkazu.
                Bude končit znakem <code>&gt;</code>,
                před nímž mohou být ještě další informace:
            </p>
<pre>
>
</pre>
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>První příkaz</h2>
            Začneme jednoduchým příkazem.
            Napiš <code>whoami</code> (z angl. <em>who am I?</em> – kdo jsem?)
            a stiskni Enter.
            Objeví se přihlašovací jméno. U mě to vypadá takhle:
<pre>
&gt; <b>whoami</b>
helena
</pre>
        </div>
        <div class="col-lg-12">
            <div class="note">
                Znak <code>&gt;</code>
                je v ukázce jen proto, aby bylo jasné že zadáváme příkaz do příkazové
                řádky.
                Vypíše ho sám počítač (většinou ještě s něčím před ním),
                takže ho nepiš sama! Zadej jen <code>whoami</code> a Enter.
            </div>
            <div class="note">
                Stejně tak počítač sám vypíše přihlašovací jméno.
            </div>
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Aktuální adresář</h2>
            Příkazová řádka pracuje vždy v nějakém <em>adresáři</em> neboli složce
            (angl. <em>directory</em>, <em>folder</em>).
            Ve kterém adresáři zrovna je, to nám poví příkaz <code>cd</code>
            (z angl. <em>current directory</em> – aktuální adresář).
<pre>
> <b>cd</b>
C:\Users\helena
</pre>
        </div>
        <div class="col-lg-12">
            Aktuální adresář se většinou ukazuje před znakem
            <code>&gt;</code>,
            ale je dobré <code>cd</code> znát,
            kdyby ses náhodou ztratila.
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Co v tom adresáři je?</h2>
            Příkaz <code>dir</code>
            (z angl. <em>directory</em> – adresář)
            nám vypíše, co aktuální adresář obsahuje – všechny soubory,
            včetně podadresářů, které se v aktuálním adresáři nacházejí.
<pre>
> <b>dir</b>
Directory of C:\Users\helena
05/08/2014 07:28 PM &lt;DIR&gt;      Applications
05/08/2014 07:28 PM &lt;DIR&gt;      Desktop
05/08/2014 07:28 PM &lt;DIR&gt;      Downloads
05/08/2014 07:28 PM &lt;DIR&gt;      Music
...
</pre>
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Změna aktuálního adresáře</h2>
            Aktuální adresář se dá změnit pomocí příkazu <code>cd</code>
            (z angl. <em>change directory</em> – změnit adresář).
            Za <code>cd</code> se píše jméno adresáře,
            kam chceme přejít – pokud máš adresář <em>Desktop</em> nebo <em>Plocha</em>,
            přejdi tam. Pak nezapomeň  ověřit, že jsi na správném místě.
            (<code>cd</code> jsme už viděly; ale předtím jsme nepsaly nic za něj)
<pre>
> <b>cd Desktop</b>

> <b>cd</b>
C:\Users\helena\Desktop
</pre>
        </div>
        <div class="note">
            Pokud přecházíš do adresáře na jiném disku,
            například D: místo C:, je potřeba kromě <code>cd</code>
            zadat jméno disku jako zvláštní příkaz (např. <code>D:</code>).
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Vytvoření adresáře</h2>
            Co takhle si vytvořit adresář na PyLadies?
            To se dělá příkazem <code>mkdir</code>
            (z angl. <em>make directory</em> – vytvořit adresář).
<pre>
> <b>mkdir pyladies</b>
</pre>
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Úkol</h2>
            Zkus v nově vytvořeném adresáři <code>pyladies</code>
            vytvořit adresář <code>test</code>
            a zkontrolovat, že se opravdu vytvořil.
        </div>
        <div class="col-lg-12">
            Budou se hodit příkazy <code>cd</code>, <code>mkdir</code>,
            či <code>dir</code>.
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h3>Řešení</h3>
<pre>
> <b>cd pyladies</b>
> <b>mkdir test</b>
> <b>dir</b>
05/08/2014 07:28 PM &lt;DIR&gt;      test
</pre>
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Úklid</h2>
            Teď vytvořené adresáře zase smažeme.
            Nemůžeme ale smazat adresář, ve kterém jsme,
            takže se vrátíme na <code>Desktop</code>.
            Nadřazený adresář (ten, který obsahuje ten aktuální),
            se značí dvěma tečkami:
<pre>
> <b>cd ..</b>
> <b>cd</b>
/home/helena/Desktop
</pre>
        </div>
        <div class="col-lg-12">
            A nakonec smažeme vytvořený adresář <code>pyladies</code>.
            K tomu použijeme příkaz <code>rmdir</code>
            (z angl. <em>remove directory</em> – odstraň adresář).
            Pozor, příkazová řádka nepoužívá odpadkový koš!
            Všechno se nadobro smaže, takže si dobře překontroluj, že mažeš správný adresář.
<pre>
> <b>cd</b>
/home/helena/Desktop
> <b>rmdir /S pyladies</b>
pyladies, Are you sure &lt;Y/N&gt;? Y
</pre>
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Konec</h2>
            A to je vše! Můžeš příkazovou řádku zavřít.
            To se dělá příkazem <code>exit</code>.
<pre>
> <b>exit</b>
</pre>
        </div>
    </section>
    <section class="row stuff">
        <div class="col-lg-12">
            <h2>Shrnutí</h2>
            Tady je tabulka základních příkazů.
            <table class="table">
                <tr>
                    <th>Příkaz</th>
                    <th>Popis</th>
                    <th>Příklad</th>
                </tr>
                <tr>
                    <td><code>exit</code></td>
                    <td>ukončení</td>
                    <td><code>exit</code></td>
                </tr>
                <tr>
                    <td><code>cd</code></td>
                    <td>změna adresáře</td>
                    <td><code>cd test</code></td>
                </tr>
                <tr>
                    <td><code>dir</code></td>
                    <td>výpis adresáře</td>
                    <td><code>dir</code></td>
                </tr>
                <tr>
                    <td><code>copy</code></td>
                    <td>zkopírování souboru</td>
                    <td><code>copy /home/helena/test/test.txt /home/helena/test/kopie_test.txt</code></td>
                </tr>
                <tr>
                    <td><code>move</code></td>
                    <td>přesun (nebo přejmenování) souboru</td>
                    <td><code>move /home/helena/test/a.txt /home/helena/test/b.txt</code></td>
                </tr>
                <tr>
                    <td><code>mkdir</code></td>
                    <td>vytvoření adresáře</td>
                    <td><code>mkdir test</code></td>
                </tr>
                <tr>
                    <td><code>del</code></td>
                    <td>smazání souboru</td>
                    <td><code>del test.txt</code></td>
                </tr>
            </table>
            <p>
                Příkazů existuje jich samozřejmě daleko víc,
                pro dnešek nám ale budou stačit tyhle.
                Jen jeden ještě přidáme – příkaz <code>python</code>.
            </p>
            <p>Nejdřív ho ale musíme <a href="{{ lesson('beginners/install-win') }}">nainstalovat</a>.</p>
        </div>
    </section>
</div>

{% endblock %}
